// Copyright (c) 2010 Daniel Pfeifer, University of Zurich

#include <windows.h>
//#include <winres.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,8,15,0
 PRODUCTVERSION 0,8,15,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Licensed under the terms of the GNU General Public License\0"
            VALUE "CompanyName", " \0"
            VALUE "FileDescription", "Maoni\0"
            VALUE "FileVersion", "0.8.15\0"
            VALUE "InternalName", "Maoni\0"
            VALUE "LegalCopyright", "2009-2010 Stefan Hutter, Daniel Pfeifer\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "Maoni.dll\0"
            VALUE "PrivateBuild", "\0"
           VALUE "ProductName", "Maoni\0"
           VALUE "ProductVersion", "0.8.15\0"
           VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
